header, main, footer { display: block;}
body {
  font-family: Verdana;
  color: #D5E3FF;
  background-image: url("gradient black.png");
}
header {
  background: linear-gradient(-90deg, darkblue, black);
  color: #FFFFFF
}
h1 {
  text-align: center;
  font-size: 3em;
  padding: 10px;
  line-height: 150%;
  text-shadow: #CCCCCC;
}
footer {
  text-align: center;
  padding: 10px;
  font-size: 0.7em;
  font-style: italic;
}
table {
  border: 2px solid darkblue;
  border-collapse: collapse;
}
td {
  text-align: center;
  padding: 0.5em;
  border: 1px solid darkblue;
}
th {
  text-align: center;
  padding: 0.5em;
  border: 1px solid darkblue;
}
img {
  border-style: none;
}
main {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
#wrapper {
  margin-right: auto;
  margin-left: auto;
  min-width: 700px;
  max-width: 1024px;
  background-color: #FFFFFF;
  color: #000066;
}
a:link {
  color: #3262A3;
}
a:visited {
  color: #6699FF;
}
a:hover {
  color: #CCCCCC;
}
